# Site
site_name: Native-Kommons
site_author: Jeff Retz
site_description: Collection of Kotlin Multiplatform (KMP) libraries and utilities.

# Repository
repo_name: Native-Kommons
repo_url: https://github.com/DatL4g/Native-Kommons

# Copyright
copyright: Copyright &copy; 2025 Jeff Retz

# Extra
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/DatL4g
    - icon: other/polar
      link: https://polar.sh/DatL4g
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/jeff-retz/
  tags:
    Android: android
    JVM: jvm
    Linux: linux
    Apple: apple
    Web: web
    Windows: windows

# Extensions
markdown_extensions:
  - attr_list
  - tables
  - admonition
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - docs/overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - toc:
      permalink: '#'
  - md_in_html

# Plugins
plugins:
  - tags

# Navigation
nav:
  - Home: index.md
  - Sponsorship:
      - 'Payment & Billing': sponsorship/payment.md
      - Access management: sponsorship/access.md
  - Libraries:
      - Cache: libraries/cache.md
      - Locale: libraries/locale.md
      - NanoId: libraries/nanoid.md

# Theme
theme: 
  name: material
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Manrope
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.top
    - navigation.sections
    - navigation.indexes
    - content.tabs.link
  icon:
    tag:
      android: material/android
      jvm: material/language-java
      linux: material/linux
      apple: material/apple
      web: fontawesome/brands/js-square
      windows: material/microsoft-windows